/* Ensures padding and border are included in total width/height */
* {
    box-sizing: border-box;
}

body{
    background-color: indianred;
}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: left;
    min-height: 100vh;
}

#todo {
    min-width: 350px;
    padding: 10px;
}
#enter {
    min-width: 30%;
    padding: 10px;
}

#list{
    list-style-type: none;
    font-size: large;
}