.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#norris-img{
    width:5%;
    height: auto;
}

#norris-text{
    background-color: teal;
}

#refresh {
    padding: 5px;
}